<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h4 class="title-border pb-4">
        登録情報変更
      </h4>
        <div class="jumbotron bottom">
          <%= form_with model: @customer, url: customer_customer_path, method: :patch do |f| %>
            <div>
              <%= f.label :first_name, "氏名" %><br>
              <%= f.text_field :last_name, autofocus: true %><br>
              <%= f.text_field :first_name, autofocus: true %><br>
            </div>
            <div>
              <%= f.label :first_name_kana, "フリガナ" %><br>
              <%= f.text_field :last_name_kana %><br>
              <%= f.text_field :first_name_kana %><br>
            </div>
            <div>
              <%= f.label :postcode, "郵便番号（ハイフンなし）" %><br>
              <%= f.text_field :postcode, autocomplete: "postal-code" %><br>
            </div>
              <div>
              <%= f.label :address, "住所" %><br>
              <%= f.text_field :address %><br>
            </div>
            <div>
              <%= f.label :phone_number, "電話番号（ハイフンなし）" %><br>
              <%= f.text_field :phone_number %><br>
            </div>
            <div>
              <%= f.label :email, "メールアドレス" %><br>
              <%= f.email_field :email, autocomplete: "email" %><br>
            </div>
            <div  class="pt-4">
              <%= f.submit "編集内容を保存", class: "btn rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>