<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto">
        <% @posts.each do |post| %>
          <div class="jumbotron bottom">
            <div>
              <!--title-->
              <h6 class="font-weight-bold"><%= post.title %></h6><br>
              <!--画像-->
              <strong>
                <div class="d-flex flex-column align-items-center jutify-content-around flex-sm-row justify-content-around flex-wrap">
                  <% if post.images.attached? %>
                    <% post.images.each do |image| %>
                    <div class="mb-5">
                      <%= image_tag image.variant(resize: '300x300') %>
                    </div>
                    <% end %>
                  <% else %>
                    <div>
                      <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
                    </div>
                  <% end %>
                </div>
              </strong>
              <!--内容-->
              <%= truncate(post.post, omission: "...") %><br>
              <!--金額-->
              金額 <font color="red">￥<%= post.price %></font><br>
              <!--希望日時-->
              日時：<%= post.timedate %><br>
              <!--タグ-->
              <i class="fas fa-hashtag"></i>&nbsp;<%= post.category %>
              <!--いいね数-->
              &emsp;<i class="fas fa-heart heart"></i>
              <%= post.likes.count %>
              <!--コメント件数-->
              &emsp;<i class="fas fa-comment-alt comment"></i>
              <%= post.post_comments.count %>
              <!--詳細へ-->
              <div class="btn float-right">
                <%= link_to"詳細を見る", customer_post_path(post.id), class: "link" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>