<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h4>
        <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
      </h4>
    </div>
  </div>
</div>
 <div class="container">
   <div class="row">
     <div class="col-lg-7">
      <div class="d-flex align-items-center">
        <table border="1" style="border-collapse: collapse" >
         <tr><th>会員ID</th><td><%= @customer.id %></td></tr>
         <tr><th>氏名</th><td><%= @customer.full_name %></td></tr>
         <tr><th>フリガナ</th><td><%= @customer.full_name_kana %></td></tr>
         <tr><th>郵便番号</th><td><%= @customer.postcode%></td></tr>
         <tr><th>住所</th></th><td><%= @customer.address %></td></tr>
         <tr><th>電話番号</th><td><%= @customer.phone_number %></td></tr>
         <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
        </table>
        <div>
          <%= link_to "会員一覧へ戻る", admin_customers_path %>
        </div>
      </div>
    </div>
  </div>
</div>