<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h4>
        <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
      </h4>
    </div>
  </div>
</div>
 <div class="container">
   <div class="row">
     <div class="col-lg-12">
      <div class="d-flex align-items-center">
        <table class="table" >
          <thead>
           <tr>
             <th scope="col">会員ID</th>
             <th scope="col">氏名</th>
             <th scope="col">フリガナ</th>
             <th scope="col">郵便番号</th>
             <th scope="col">住所</th>
             <th scope="col">電話番号</th>
             <th scope="col">メールアドレス</th>
             <th scope="col">ステータス</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @customer.id %></td>
              <td><%= @customer.full_name %></td>
              <td><%= @customer.full_name_kana %></td>
              <td><%= @customer.postcode%></td>
              <td><%= @customer.address %></td>
              <td><%= @customer.phone_number %></td>
              <td><%= @customer.email %></td>
              <td>
                <% if @customer.is_deleted == true %>
                  <span class="text-secondary" ><strong>退会</strong></span>
                <% else %>
                  <span class="text-success" ><strong>有効</strong></span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
 <div class="container">
   <div class="row">
     <div class="col-lg-7">
      <div class="d-flex align-items-center" style="height:60px;">
        <%= link_to "会員一覧へ戻る", admin_customers_path %>
      </div>
     </div>
   </div>
 </div>