 <% posts.each do |post| %>
   <div class="jumbotron bottom">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <!--画像-->
          <% if post.image.attached? %>
            <%= image_tag post.image, class: 'img-fluid' %><br>
          <% else %>
            <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
          <% end %>
        </div>
        <div class="col-6">
          <!--いいね-->
          <div class="text-right">
            <div id="favorite_buttons_<%= post.id %>">
              <%= render "customer/posts/like", post: post %>
            </div>
          </div>
          <!--title-->
          <%= link_to customer_post_path(post.id) do %>
            <h5><%= post.title %></h5><br>
          <% end %>
          <!--内容-->
          <%= truncate(post.post, omission: "...") %><br>
          <!--金額-->
          金額：<%= post.price %>円<br>
          <!--希望日時-->
          日時：<%= post.timedate %><br>
          <!--タグ-->
          タグ：<%= post.category %><br>
          <!--コメント件数-->
          <%= link_to "#{post.post_comments.count} コメント", customer_post_path(post) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate posts, theme: 'bootstrap-5' %>
