 <% posts.each do |post| %>
   <div class="jumbotron bottom">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <!--画像-->
          <% if post.image.attached? %>
            <%= image_tag post.image, class: 'img-fluid' %><br>
          <% else %>
            <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
          <% end %>
        </div>
        <div class="col-6">
          <!--いいね-->
          <div class="text-right">
            <div id="favorite_buttons_<%= post.id %>">
              <%= render "customer/posts/like", post: post %>
            </div>
          </div>
          <!--title-->
          <h5><%= post.title %></h5><br>
          <!--内容-->
          <%= truncate(post.post, omission: "...") %><br>
          <!--金額-->
          金額：<%= post.price %>円<br>
          <!--希望日時-->
          日時：<%= post.timedate %><br>
          <!--タグ-->
          {<%= post.category %>}<br>
          <!--いいね数-->
          <i class="fas fa-heart heart"></i>
          <%= post.likes.count %><br>
          <!--コメント件数-->
          <i class="fas fa-comment-alt"></i>
          <%= post.post_comments.count %><br>
          <!--詳細へ-->
          <div class="btn float-right">
            <%= link_to"詳細を見る", customer_post_path(post.id), class: "link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate posts, theme: 'bootstrap-5' %>
