<% posts.each do |post| %>
  <div class="jumbotron bottom">
      <!--title-->
      <%= link_to customer_post_path(post.id) do %>
        <h5><%= post.title %></h5><br>
      <% end %>
    <!--画像-->
    <% if post.image.attached? %>
      <%= image_tag post.image, size:'100x100' %><br>
    <% end %>
    <!--内容-->
    <%= post.post %><br>
    金額：<%= post.price %>円<br>
    日時：<%= post.timedate %><br>
  </div>
<% end %>