<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h4 class="title-border pb-4">
        投稿修正
      </h4>
        <div class="jumbotron bottom">
          <%= form_with model: @post, url: customer_posts_path, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :image, "画像" %>
            <%= f.file_field :images, multiple: true %>
          </div>
          <div class="form-group">
            <%= f.label :price, "金額" %>
            <div class="input-group">
              <%= f.text_field :price, class: 'form-control' %>
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3">円</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :post, "内容" %>
            <%= f.text_area :post, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :timedate, "希望日時" %>
            <%= f.text_field :timedate, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :category, "タグ" %>
            <%= f.select :category, [["サロンモデル希望", "サロンモデル希望"],["NEW OPEN", "NEW OPEN"], ["受賞歴あり", "受賞歴あり"], ["21時以降OK", "21時以降OK"], ["早朝対応可", "早朝対応可"], ["お子様同伴OK", "お子様同伴OK"], ["学生に人気", "学生に人気"], ["お手頃プライス", "お手頃プライス"]], include_blank: "選択して下さい" %>
          </div>
          <div  class="pt-4">
            <%= f.submit "編集内容を保存", class: "btn rounded-pill" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>