<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <% @posts.each do |post| %>
          <div class="jumbotron bottom">
            <div>
              <!--title-->
              <%= link_to customer_post_path(post.id) do %>
                <%= post.title %><br>
              <% end %>
              <!--画像-->
              <% if post.image.attached? %>
                <%= image_tag post.image, size:'100x100' %><br>
              <% else %>
                <%= image_tag 'no_image.jpg', size:'100x100' %><br>
              <% end %>
              <!--内容-->
              <%= truncate(post.post, omission: "...") %><br>
              <!--金額-->
              金額：<%= post.price %>円<br>
              <!--希望日時-->
              日時：<%= post.timedate %><br>
              <!--タグ-->
              タグ：<%= post.category%><br>
              <!--いいね数-->
              いいね：<%= post.likes.count %><br>
              <!--コメント件数-->
              コメント件数：<%= post.post_comments.count %><br>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>