<div class="container">
  <!--title-->
  <%= @post.title %>
  <!--画像-->
  <% if @post.image.attached? %>
    <%= image_tag @post.image, class: 'img-fluid' %>
  <% else %>
    <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
  <% end %>
  <!--名前-->
  <%= @post.customer.last_name + @post.customer.first_name %>
  <!--内容-->
  <%= @post.post %>
  <!--金額-->
  <%= @post.price %>
  <!--希望日時-->
  <%#= @post.datetime %>
</div>