<div class="container">
  <!--title-->
  <%= @post.title %>
  <!--画像-->
  <% if @post.image.attached? %>
    <%= image_tag @post.image, class: 'img-fluid' %>
  <% else %>
    <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
  <% end %>
  <!--名前-->
  <%= @post.customer.last_name + @post.customer.first_name %>
  <!--内容-->
  <%= @post.post %>
  <!--金額-->
  <%= @post.price %>
  <!--希望日時-->
  <%= @post.timedate %>
</div>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.customer.full_name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <%= post_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @post_comment], url: customer_post_post_comments_path(@post) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "コメントする" %>
  <% end %>
</div>