<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="jumbotron bottom">
        <div class="text-center">
          <!--画像-->
          <strong>
            <div class="d-flex flex-column align-items-center jutify-content-around flex-sm-row justify-content-around flex-wrap">
              <% if @post.images.attached? %>
                <% @post.images.each do |image| %>
                <div>
                  <%= image_tag image.variant(resize: '300x300') %>
                </div>
                <% end %>
              <% else %>
              <div>
                <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
              </div>
            <% end %>
            </div>
          </strong>
        </div>
        <div class="jumbotron-body">
          <!--title-->
          <p class="font-weight-bold">
            <%= @post.title %><br>
            <hr>
          </p>
          <!--名前-->
          <b>投稿者：<%= link_to @post.customer.last_name + @post.customer.first_name, customer_customer_path(@post.customer.id), class: "link4" %></b><br>
          <!--内容-->
          <%= @post.post %><br>
          <!--金額-->
          金額 <font color="red">￥<%= @post.price %></font><br>
          <!--希望日時-->
          希望日時：<%= @post.timedate %><br>
          <!--電話番号-->
          お問合せ先電話番号：<%= @post.customer.phone_number %><br>
          <!--タグ-->
          <i class="fas fa-hashtag"></i>
          <%= @post.category%>
          <!--いいね数-->
          &emsp;<i class="fas fa-heart heart"></i>
          <%= @post.likes.count %>
          <!--コメント件数-->
          &emsp;<i class="fas fa-comment-alt comment"></i>
          <%= @post.post_comments.count %><br>
          <!--カスタマー投稿削除-->
          <% if @post.customer == current_customer %>
            <%= link_to"編集する", edit_customer_post_path(@post.id) %>
            <%= link_to"削除する", customer_post_path(@post), method: :delete %>
          <% end %>
          <hr>
          <!--管理者投稿削除-->
          <% if admin_signed_in? %>
            <%= link_to "削除する", customer_post_path(@post), method: :delete %>
            <hr>
          <% end %>
            <% @post.post_comments.each do |post_comment| %>
              <div class="pt-4">
                <!--コメント-->
                <%= post_comment.comment %>
              </div>
              <div>
                <!--名前-->
                <%= post_comment.customer.full_name %>
                 |
                <!--時間-->
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                  <div align="right">
                    <!--カスタマーコメント削除-->
                    <% if post_comment.customer == current_customer %>
                      <%= link_to "口コミ削除", customer_post_post_comment_path(post_comment.post, post_comment), method: :delete %><br>
                    <% end %>
                    <!--管理者コメント削除-->
                    <% if admin_signed_in? %>
                      <%= link_to "口コミ削除", customer_post_post_comment_path(post_comment.post, post_comment), method: :delete %><br>
                    <% end %>
                  </div>
              </div>
              <hr>
            <% end %>
        </div>
            <!--予約-->
            <div class="pt-3">
              <div class="btn float-right">
                <%= link_to"予約する", customer_reserves_path, class: "link" %>
              </div>
            </div>
        </div>
      </div>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 md-6 mx-auto">
        <%= form_with model: [@post, @post_comment], url: customer_post_post_comments_path(@post) do |f| %>
          <%= f.text_area :comment, :size=>"58x3", placeholder: "口コミをここに入力" %>
          <div>
            <%= f.submit "口コミを投稿する", class: "btn submit-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
