<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="jumbotron bottom">
        <div class="text-center">
          <!--画像-->
          <% if @post.image.attached? %>
            <%= image_tag @post.image, size:'350x350' %><br>
          <% else %>
            <%= image_tag 'no_image.jpg', size:'300x300' %><br>
          <% end %>
        </div>
        <div class="jumbotron-body">
          <!--title-->
          <%= @post.title %><br>
          <!--名前-->
          <%= @post.customer.last_name + @post.customer.first_name %><br>
          <!--内容-->
          <%= @post.post %><br>
          <!--金額-->
          金額：<%= @post.price %>円<br>
          <!--希望日時-->
          希望日時：<%= @post.timedate %><br>
          <!--タグ-->
          タグ：<%= @post.category%><br>
          コメント件数：<%= @post.post_comments.count %>
            <% @post.post_comments.each do |post_comment| %>
          　　<div class="card">
          　　    <div class="row">
                  <div class="col-md-4">
                　　  <!--名前-->
                    <%= post_comment.customer.full_name %>
                  </div>
                    <div class="row">
                      <div class="col-md-4">
                        <!--時間-->
                        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                      </div>
                      <div class="col-md-4">
                        <!--コメント-->
                        <%= post_comment.comment %>
                      </div>
                      <div class="col-md-4">
                        <!--カスタマーコメント削除-->
                        <% if post_comment.customer == current_customer %>
                          <%= link_to "コメント削除", customer_post_post_comment_path(post_comment.post, post_comment), method: :delete %><br>
                        <% end %>
                        <!--管理者コメント削除-->
                        <% if admin_signed_in? %>
                          <%= link_to "コメント削除", customer_post_post_comment_path(post_comment.post, post_comment), method: :delete %><br>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
            <% end %>
            <div>
              <!--予約-->
              <%= link_to"予約する (予約するには新規メンバー登録が必要です)", customer_reserves_path %>
            </div>
        </div>
      </div>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <%= form_with model: [@post, @post_comment], url: customer_post_post_comments_path(@post) do |f| %>
          <%= f.text_area :comment, :size=>"58x3", placeholder: "コメントをここに" %>
          <div>
            <%= f.submit "コメントする" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
