<header class="w-100">
  <nav class="d-none d-md-block pb-1">
    <div class="container text-center">
      <a href="/">
        <%= image_tag'logo.png', size:"180x50" %>
      </a>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <%= link_to "サロン一覧", customer_posts_path %>
          </li>
          <li class="list-inline-item">
            <%= link_to '投稿フォーム', new_customer_post_path %>
          </li>
          <% if customer_signed_in? %>
            <li class="list-inline-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>
          <%# elsif admin_signed_in? %>

          <% else %>
            <li class="list-inline-item">
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
          <% end %>
        </ul>
    </div>
  </nav>
</header>

<nav class="d-block d-md-none hum-menu position-fixed">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="hum-menu-content position-fixed w-100 h-100 d-none">
  <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
    <a href="/">
      <%= image_tag'logo.png', size:"180x50" %>
    </a>
      <ul class="list-unstyled text-center my-3">
        <li>
          <%= link_to "サロン一覧", customer_posts_path %>
        </li>
        <li>
          <%= link_to '投稿フォーム', new_customer_post_path %>
        </li>
        <% if customer_signed_in? %>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>
        <%# elsif admin_signed_in? %>

        <% else %>
          <li>
            <%= link_to "ログイン", new_customer_session_path %>
          </li>
        <% end %>
      </ul>
  </div>
</div>